@use '../core/all' as *;
.button-blink {
  z-index: 999;
  position: absolute;
  top: 0;
  left: -100%;
  width: 20%;
  height: 100%;

  background: linear-gradient(
    90deg,
    transparent,
    rgba(4, 217, 255, 0.26),
    transparent
  );
  transform: translateX(-50%) skewX(-45deg);
  pointer-events: none; /* Чтобы не перекрывал клики */
}

.header {
  // overflow: hidden;
  position: relative;
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  text-shadow: none;
  color: $font-color-title;
  font-family: $font-family-default;
  font-weight: 400;

  .header-blink {
    z-index: 999;
    position: absolute;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;

    background: linear-gradient(
      90deg,
      transparent,
      rgba(4, 217, 255, 0.2),
      transparent
    );
    transform: translateX(-50%) skewX(-45deg);
    pointer-events: none; /* Чтобы не перекрывал клики */
  }

  &.with-shadow {
    &::before {
      animation: fadeInGradient 1.9s ease-in-out forwards;
      opacity: 1;
    }

    &::after {
      z-index: 9;
      width: 100%;
    }
    transition: all 0.5s ease-in-out;
    @extend .box-shadow;
  }

  // &::before {
  //   z-index: 7;
  //   opacity: 0;
  //   content: '';
  //   position: absolute;
  //   height: 10rem;
  //   width: 100%;
  //   background-size: 111% 200%;
  //   background-position: 0 0;
  //   transition: opacity 0.5s ease-in-out;
  //   animation: fadeOutGradient 0.5s ease-in-out alternate-reverse;
  // }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: all 0.7s ease-in-out;
    @extend .gradient-border-bottom;
  }

  // .header__container
  &__container {
    width: 100%;
  }

  // .header__burger-menu
  &__burger-button {
    transform: translateY(-1px);
    margin-left: 2.4rem;

    @include min-768 {
      display: none;
    }
  }

  // .header__content
  &__content {
    position: relative;
    width: 100%;
    z-index: 8;
    // display: flex;
    align-items: center;
    gap: 2rem;
    // justify-content: space-between;
    color: #fff;
    display: grid;
    grid-template-columns: max-content auto min-content;

    @include screen-490 {
      gap: 1rem;
    }
  }

  // .header__logo-wrpper
  &__logo-wrpper {
    display: flex;
    align-items: center;
  }

  // .header__column
  &__column {
    &:nth-child(1) {
      display: flex;
      align-items: center;
    }

    &:nth-child(2) {
      justify-self: end;
    }

    &:nth-child(3) {
      display: flex;
      justify-self: end;
    }
  }

  // .header__logo
  &__logo {
    position: relative;
    height: 10rem;
    padding: 1rem 2rem 1rem 0;

    img {
      object-fit: contain;
      height: 8rem;
    }
  }

  // .header__text
  &__text {
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    line-height: 1;
    max-width: 27rem;
    font-family: $font-family-title;
    font-size: 3rem;

    @include screen-960 {
      font-size: 18px;
      max-width: 22rem;
    }

    span {
      font-weight: 400;
    }
  }

  // .header__menu
  &__menu {
    height: 100%;
    font-size: 1.6rem;
  }

  // .header__phone
  &__phone {
    color: #fff;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
  }
  // .header__phone-item
  &__phone-item {
    line-height: 1;
    font-size: 1.6rem;
    span {
      line-height: 1px;
    }
  }

  // .header__menu-items
  &__menu-items {
    user-select: none;
    height: 100%;
    display: flex;
    transition: all 0.4s ease 0s;
    text-transform: uppercase;
    align-items: center;
  }

  // .header__item
  &__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  // .header__link-key
  &__link-key {
    text-shadow: none;
    span {
      opacity: 0.9;
    }

    &:hover {
      span {
        pointer-events: none;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }
}

.el-community {
  display: flex;
  align-items: center;

  // .el-community__contact
  &__contact {
    display: flex;
    align-items: center;
    transition: all 0.4s ease-in-out;
    margin-left: 1.6rem;
  }
}

@keyframes fadeOutGradient {
  100% {
    background-position: 100% 0;
  }
}

@keyframes fadeInGradient {
  100% {
    background-position: 100% 0;
  }
}
