.running-line
	._body
		._content 
			._marquee.button-request(role="marquee" aria-label="Заказать обратный звонок")
				._text.t-h2 Заказать обратный звонок /
				._text.t-h2(aria-hidden="true") &nbsp;Заказать обратный звонок /
				._text.t-h2(aria-hidden="true") &nbsp;Заказать обратный звонок /
				._text.t-h2(aria-hidden="true") &nbsp;Заказать обратный звонок /
				._text.t-h2(aria-hidden="true") &nbsp;Заказать обратный звонок /
				._text.t-h2(aria-hidden="true") &nbsp;Заказать обратный звонок /
				//- ._text.t-h2(aria-hidden="true") &nbsp;Заказать обратный звонок /