.section-ordercall 
	._image._ibg
		img(src="@@webRoot/img/pic/img-03.png" alt="image")
	._body
		._content._container 
			._column 
				h2._title.t-h1(data-da="section-ordercall__box" data-da-position="0" data-da-resolution="490") Берём под&nbsp;управление
			._column 
				._box 
					ul._list
						li._item.t-text-16
							span Бизнес-центры
						li._item.t-text-16
							span Склады
						li._item.t-text-16
							span МФК
						li._item.t-text-16
							span Фудхоллы
						li._item.t-text-16
							span Торговые центры
						li._item.t-text-16
							span Кинотеатры
						li._item.t-text-16
							span Апартаменты
						li._item.t-text-16
							span Спортивные арены
					._button 
						button(type="button").button.t-h2
							span Заказать звонок