.section-partners._container 
  ._body
    .partners-list  
      ._content
        ._column
          h2._title.t-h1.el-item  С кем Мы работаем 
        ._column 
          ._row.its-el
            h2._title.t-h2 С&nbsp;собственниками 
            ._text.t-text 
              p Cнимаем с&nbsp;владельцев все&nbsp;задачи по&nbsp;управлению, оказываем юридическое и&nbsp;бухгалтерское сопровождение.
          ._row.its-el
            h2._title.t-h2 С&nbsp;инвесторами 
            ._text.t-text 
              p Предлагаем в&nbsp;аренду и&nbsp;продажу коммерческую недвижимость: офисы, склады, торговые помещения и&nbsp;помещения свободного назначения.
          ._row.its-el
            h2._title.t-h2 С&nbsp;управляющими компаниями 
            ._text.t-text 
              p Предоставляем полный комплекс услуг своей аварийно-диспетчерской службы: устраняем поломки и&nbsp;следим за&nbsp;исправностью всех внутридомовых систем. 