.section-order.bp-3
	._body._container 
		._content 
			._row
				._column.bp-2 
					h2._title.t-h1 Приумножьте&nbsp;свой&nbsp;доход, доверив управление недвижимостью экспертам 
					._form(data-da="bp-4" data-da-position="0" data-da-resolution="768")
						include ../modules/form-order 
				._column.bp-4
					._info(data-da="bp-2" data-da-position="1" data-da-resolution="768")  
						._text.t-text
							p Формируем и&nbsp;реализуем максимально удобную и&nbsp;подходящую заказчику стратегию.
							p Оставьте заявку на&nbsp;управление &nbsp;мы&nbsp;обеспечим: 
						ul._list.t-text  
							li._item  
								span Стабильно высокий доход без&nbsp;физических и&nbsp;моральных затрат;
							li._item  
								span Достойных и&nbsp;проверенных арендаторов; 
							li._item  
								span Полное сопровождение сделки;
							li._item  
								span И&nbsp;самое важное: всегда на&nbsp;связи в&nbsp;экстренных ситуациях 24/7!
					._button(data-da="bp-5" data-da-position="0" data-da-resolution="768") 
						button(type="button" form="form-order").button.t-h2 
							span Оставить заявку
						.effect-blick
			._row 
				._column.bp-5
					.checkbox(data-da="bp-4" data-da-position="1" data-da-resolution="768") 
						input(type="checkbox" id="agree" name="agree" form="form-order")._input 
						label(for="agree")._label 
							+iconfont('check', '_icon')
							span Подтверждаю, что&nbsp;ознакомился&nbsp;(&#8209;лась) с&nbsp;политикой конфиденциальности и&nbsp;даю&nbsp;согласие на&nbsp;обработку персональных данных
				._column
