.section-survey._container
	._body 
		h2._title.t-h1.el-item Как начать сотрудничество
		._content 
			._column 
				._image._img 
					img(src="@@webRoot/img/pic/img-01.png" alt="image")
			._column 
				ul._list 
					li.item-list._item.its-el
						._number.t-h2 
							span 1
						._info 
							._title.t-h2 Оставляете запрос
							._text.t-text по&nbsp;телефону&nbsp;8&nbsp;800&nbsp;800-80-80 или на&nbsp;почту:&nbsp;pochta@gmail.com
					li.item-list._item.its-el
						._number.t-h2 
							span 2
						._info 
							._title.t-h3 Проводим технический аудит объектов
							._text.t-text Оцениваем коммуникации, строительные конструкции, ведение технических журналов
					li.item-list._item.its-el
						._number.t-h2 
							span 3
						._info 
							._title.t-h2 Рассчитываем стоимость услуг
							._text с&nbsp;учётом сложности и&nbsp;особенностей объекта
					li.item-list._item.its-el
						._number.t-h2
							span 4
						._info 
							._title.t-h3 Подписываем договор
							._text.t-text Формируем проектную команду, разрабатываем график работ
					li.item-list._item.its-el
						._number.t-h2 
							span 5
						._info 
							._title.t-h2 Координируем работу инженеров
							._text.t-text Контролируем своевременность и&nbsp;качество обслуживания
					li.item-list._item.its-el
						._number.t-h2 
							span 6
						._info 
							._title.t-h3 Оцениваем качество оказываемых услуг
							._text.t-text
				._button.button-request
					button(type="button").button.t-h2
						span Оставить заявку
						span.grad-blink