.section-services
	._body._container
		h2._title.t-h1.el-item Услуги
		._content 
			._column 
				._image(data-da="bp-3" data-da-position="0" data-da-resolution="768")  
					img(src="@@webRoot/img/pic/img-04.png" alt="image")
					._label
						p.t-h3 Нас&nbsp;выбирают, потому что&nbsp;мы&nbsp;автоматизируем все&nbsp;процессы и&nbsp;предлагаем комплексные решения!
			.services-content._column  
				._item.its-el
					h2._title.t-h2 Управление арендными отношениями 
					._text.t-text
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores amet veniam tempore provident ea voluptate quibusdam nemo aperiam, modi adipisci eius voluptatum eligendi nesciunt delectus molestias, sit odio facere ab.
				._item.its-el
					h2._title.t-h2 Финансовое планирование 
					._text.t-text
						p Разрабатываем и&nbsp;помогаем совершенствовать стратегию по&nbsp;управлению недвижимостью любой сложности, проводим отдельный коммерческий консалтинг, консалтинг по&nbsp;маркетингу, технический аудит состояния объектов и&nbsp;возможностей снижения операционных расходов.
				._item.its-el
					h2._title.t-h2 Маркетинговая поддержка 
					._text.t-text
						p Поиск арендаторов и&nbsp;покупателей коммерческих площадей. Подберём идеальных арендаторов и&nbsp;покупателей на&nbsp;ваш&nbsp;объект
				._item.its-el
					h2._title.t-h2 Бухгалтерское обслуживание 
					._text.t-text
						p Автоматизация бухгалтерского учёта доверительного управления недвижимостью с&nbsp;формированием ежемесячного отчёта Управляющего
				._item.its-el
					h2._title.t-h2 Юридическое сопровождение 
					._text.t-text
						p Исполнение текущих договоров аренды. Контролируем своевременное поступление арендных платежей, взаимодействуем с&nbsp;арендаторами по&nbsp;вопросу урегулирования досудебных споров
				._item.its-el
					h2._title.t-h2 Техническое обслуживание 
					._text.t-text
						p Осматриваем и&nbsp;ремонтируем внутридомовые системы. Проверяем техническое состояние здания и&nbsp;поддерживаем его&nbsp;в&nbsp;рабочем состоянии. Проводим все&nbsp;комплексные работы по&nbsp;контролю технического состояния инженерных систем и&nbsp;строительных конструкций, также&nbsp;другие необходимые организационные и&nbsp;технические мероприятия для&nbsp;обеспечения полноценного функционирования объектов
				._item.its-el
					h2._title.t-h2 Строительные и&nbsp;ремонтные Работы 
					._text.t-text
						p Проверяем комплекс измерительно-оценочных работ, необходимый для&nbsp;определения состояния ограждений, несущих конструкций, инженерных коммуникаций, грунтов основания Устраняем поломки с&nbsp;выездом собственной аварийно-диспетчерской службы
				._item.its-el
					h2._title.t-h2 Чистота и&nbsp;безопасность 
					._text.t-text
						p Сохраняем чистоту и&nbsp;порядок как&nbsp;на&nbsp;внутренней, так&nbsp;и&nbsp;на&nbsp;прилегающей территории.
						p Занимаемся постоянным мониторингом содержания мест общего пользования и&nbsp;прилегающей территории, обеспечиваем предотвращение и&nbsp;устранение внештатных ситуаций, а&nbsp;также&nbsp;контролируем исполнение требований пожарной безопасности, организуем текущий и&nbsp;капитальный ремонт объектов