.section-prices 
	._body._container
		hgroup._hgroup 
			h2._title.t-h1.el-item  Стоимость услуг
			p.its-el.t-text Мы не просто <b>управляем недвижимостью&nbsp;—</b> мы&nbsp;<b>максимизируем ее&nbsp;доходность</b> и&nbsp;<b>минимизируем риски</b> собственника!
		._content#prices 
			._column.its-col
				h3._item-title.t-h3 
					span Управление арендными отношениями 
					+iconfont('management', '_icon')
				._label - поиск и введение арендаторов - 
				._item  
					ul._list.t-text  
						li
							+iconfont('check', 'icon')
							span проведение анализа рынка  недвижимости и арендных ставок;
						li
							+iconfont('check', 'icon')
							span представление отчетов по актуальным ставкам аренды;
						li
							+iconfont('check', 'icon')
							span анализ ликвидности объекта и анализ наиболее эффективного его использования;
						li
							+iconfont('check', 'icon')
							span формирование концепции объекта;
						li
							+iconfont('check', 'icon')
							span определение круга потенциальных арендаторов;
						li
							+iconfont('check', 'icon')
							span разработка рекламной (маркетинговой) стратегии;
						li
							+iconfont('check', 'icon')
							span формирование базы потенциальных арендаторов;
						li
							+iconfont('check', 'icon')
							span активный поиск арендаторов;
						li
							+iconfont('check', 'icon')
							span осуществление показов и проведение переговоров;
						li
							+iconfont('check', 'icon')
							span составление договора аренды на условиях максимально выгодных для владельца объекта;
						li
							+iconfont('check', 'icon')
							span контроль за исполнением договоров;
						li.line-through
							+iconfont('check', 'icon')
							span бухгалтерские и юридические вопросы;
						li.line-through
							+iconfont('check', 'icon')
							span инженерное сопровождение;
						li.line-through
							+iconfont('check', 'icon')
							span контроль за подрядчиками;
						li.line-through
							+iconfont('check', 'icon')
							span клининг объекта;
						li.line-through
							+iconfont('check', 'icon')
							span охрана объекта; 
				._footer
					._label Минимальная плата от 20 000 руб.
					._text
						._col-text.t-h3  7% от МАП
						._col-text.t-h3  от 10% от МАП
				._button
					button(type="button").button.button-request.t-h2 
						span Заказать
						span.grad-blink
			._column.its-col
				h3._item-title.t-h3  
					span Управление недвижимостью
					+iconfont('financial-system', '_icon')
				._label - эксплуатация объектов -
				._item 
					ul._list.t-text 
						li
							+iconfont('check', 'icon')
							span контроль договоров на эксплуатационные услуги на объект;
						li
							+iconfont('check', 'icon')
							span контроль за исполнением договоров;
						li
							+iconfont('check', 'icon')
							span бухгалтерские и юридические вопросы;
						li
							+iconfont('check', 'icon')
							span инженерное сопровождение, текущий ремонт;
						li
							+iconfont('check', 'icon')
							span контроль за подрядчиками;
						li
							+iconfont('check', 'icon')
							span клининг объекта;
						li.line-through
							+iconfont('check', 'icon')
							span проведение анализа рынка недвижимости и арендных ставок;
						li.line-through
							+iconfont('check', 'icon')
							span представление отчетов по актуальным ставкам аренды;
						li.line-through
							+iconfont('check', 'icon')
							span анализ ликвидности объекта и анализ наиболее эффективного его использования;
						li.line-through
							+iconfont('check', 'icon')
							span формирование концепции объекта;
						li.line-through
							+iconfont('check', 'icon')
							span определение круга потенциальных арендаторов;
						li.line-through
							+iconfont('check', 'icon')
							span разработка рекламной (маркетинговой) стратегии;
						li.line-through
							+iconfont('check', 'icon')
							span формирование базы потенциальных арендаторов;
						li.line-through
							+iconfont('check', 'icon')
							span активный поиск арендаторов;
						li.line-through
							+iconfont('check', 'icon')
							span осуществление показов и проведение переговоров;
						li.line-through
							+iconfont('check', 'icon')
							span охрана объекта; 
				._footer
					._label Минимальная плата от 50 000 руб.
					._text  
						._col-text.t-h3  8% от ФОТ
						._col-text.t-h3  от 12% от ФОТ
				._button
					button(type="button").button.button-request.t-h2 
						span Заказать
						span.grad-blink
			._column.its-col
				h3._item-title.t-h3  
					span Доверительное управление
					+iconfont('hand-shake', '_icon')
				._label - 100% гарантия дохода -
				._item 
					ul._list.t-text 
						li
							+iconfont('check', 'icon')
							span проведение анализа рынка недвижимости и арендных ставок;
						li
							+iconfont('check', 'icon')
							span представление отчетов по актуальным ставкам аренды;
						li
							+iconfont('check', 'icon')
							span анализ ликвидности объекта и анализ наиболее эффективного его использования;
						li
							+iconfont('check', 'icon')
							span формирование концепции объекта;
						li
							+iconfont('check', 'icon')
							span определение круга потенциальных арендаторов;
						li
							+iconfont('check', 'icon')
							span разработка рекламной (маркетинговой) стратегии;
						li
							+iconfont('check', 'icon')
							span формирование базы потенциальных арендаторов;
						li
							+iconfont('check', 'icon')
							span активный поиск арендаторов;
						li
							+iconfont('check', 'icon')
							span осуществление показов и проведение переговоров;
						li
							+iconfont('check', 'icon')
							span составление договора аренды на условиях максимально выгодных для владельца объекта;
						li
							+iconfont('check', 'icon')
							span контроль за исполнением договоров;
						li
							+iconfont('check', 'icon')
							span бухгалтерские и юридические вопросы;
						li
							+iconfont('check', 'icon')
							span инженерное сопровождение;
						li
							+iconfont('check', 'icon')
							span контроль за подрядчиками;
						li
							+iconfont('check', 'icon')
							span клининг объекта;
						li
							+iconfont('check', 'icon')
							span охрана объекта; 
				._footer
					._label Минимальная плата 0-00 руб.
					._text
						._col-text.t-h3  10% от прибыли
						._col-text.t-h3  от 15% от пр.
				._button
					button(type="button").button.button-request.t-h2
						span Заказать
						span.grad-blink

