.section-consultation._container 
	._body
		._column 
			h2._title.t-h1 Экспертная консультация <br> по&nbsp;управлению недвижимостью
		._column 
			._text.t-text  
				p Ответьте на&nbsp;несколько вопросов и&nbsp;мы&nbsp;поможем в&nbsp;решении многих вопросов!
				p Проконсультируем в&nbsp;удобное для&nbsp;вас&nbsp;время
			._button.button-question
				button(type="button").button.t-h2 
					span Пройти опрос
				.effect-blick 