.section-project._container
	._body
		h2._title.t-h1.el-item Наши проекты 
		.project-images
			._content
				._column 
					._image._img
						img(src="@@webRoot/img/project/proj-01.png" alt="image")
					._image._img
						img(src="@@webRoot/img/project/proj-02.png" alt="image")
				._column 
					._image._img
						img(src="@@webRoot/img/project/proj-03.png" alt="image")
					._image._img
						img(src="@@webRoot/img/project/proj-04.png" alt="image")
				._column 
					._image._img
						img(src="@@webRoot/img/project/proj-05.png" alt="image")
					._image._img
						img(src="@@webRoot/img/project/proj-06.png" alt="image")
				._column 
					._image._img
						img(src="@@webRoot/img/project/proj-07.png" alt="image")
					._image._img
						img(src="@@webRoot/img/project/proj-08.png" alt="image")