.section-partners._container
  ._body
    .partners-list#client
      h2._title.t-h1.el-item С кем Мы работаем  
      ._content 
        ._column.its-el
          h2._title-text.t-h2 С&nbsp;собственниками 
          ._text.t-text 
            p Снимаем с&nbsp;владельцев все&nbsp;задачи по&nbsp;управлению, оказываем юридическое и&nbsp;бухгалтерское сопровождение.
        ._column.its-el 
          h2._title-text.t-h2 С&nbsp;инвесторами
          ._text.t-text 
            p Поможем принять обдуманные и взвешенные решения, основанные на анализе разных показателей динамике котировок, соотношении рисков и доходности, надежности эмитента,  текущей ситуации в экономике, геополитике и отрасли инвестиций, изучим стратегию подерем нужные инструменты.
        ._column.its-el 
          h2._title-text.t-h2 С&nbsp;арендаторами/покупателями
          ._text.t-text 
            p Предлагаем в&nbsp;аренду и&nbsp;продажу коммерческую недвижимость: офисы, склады, торговые помещения и&nbsp;помещения свободного назначения.
        ._column.its-el
          h2._title-text.t-h2 С&nbsp;управляющими компаниями 
          ._text.t-text 
            p Предоставляем полный комплекс услуг своей аварийно-диспетчерской службы: устраняем поломки и&nbsp;следим за&nbsp;исправностью всех инженерных систем. 