.section-perform
  ._image._ibg 
    +picture('@@webRoot/img/pic/prew-01.jpg"', 'image') 
    ._image-fon
  ._body._container
    ._content 
      hgroup._group   
        h1._title.t-h1.tl-1 Комплексное управление коммерческой недвижимостью 
        p._text.t-text-30.tl-2 Будьте на&nbsp;шаг впереди тенденций отрасли благодаря аналитике и&nbsp;опыту команды Центр&nbsp;развития&nbsp;инвестиций
      ._button.button-request.tl-3 
        button(type="button").button.t-h2
          span Оставить заявку
          span.grad-blink