.section-perform
  ._image._ibg 
    img(src="@@webRoot/img/pic/img-06.png" alt="inage")
    ._image-fon
  ._body._container
    ._content 
      hgroup._group   
        h1._title.t-h1.tl-1 Управление коммерческой недвижимостью 
        p._text.t-text-30.tl-2   Более 6&nbsp;лет&nbsp;мы&nbsp;выступаем от&nbsp;лица Собственников объектов коммерческой недвижимости в&nbsp;Обнинске, отвечая за&nbsp;повышение доходности, продвижение и&nbsp;качественную эксплуатацию
      ._button.button-request.tl-3 
        button(type="button").button.t-h2
          span Оставить заявку
          span.grad-blink