.section-order.bp-3
	._body._container 
		._content
			._column.bp-2
				h2._title.t-h1 Приумножьте&nbsp;свой&nbsp;доход, доверив управление недвижимостью экспертам 
				._form 
					include ../chunks/form-order 
			._column
				._info(data-da="bp-2" data-da-position="1" data-da-resolution="690")  
					._text.t-text
						p Формируем иреализуем максимально удобную иподходящую заказчику стратегию.
						p Оставьте заявку на&nbsp;управление &nbsp;мы&nbsp;обеспечим: 
					ul._list.t-text  
						li._item  
							span Стабильно высокий доход без&nbsp;физических и&nbsp;моральных затрат;
						li._item  
							span Достойных и&nbsp;проверенных арендаторов;  
						li._item  
							span Полное сопровождение сделки;
						li._item  
							span И&nbsp;самое важное: всегда на&nbsp;связи в&nbsp;экстренных ситуациях 24/7!
				._button 
					button(type="submit" form="form-order").button.t-h2 
						span Оставить заявку
			//- .checkbox 
				input(type="checkbox" id="agree" name="agree" form="form-order")._input 
				label(for="agree")._label
					span
						+iconfont('check', '_icon')
					span Подтверждаю, что&nbsp;ознакомился (-лась) с&nbsp;политикой конфиденциальности и&nbsp;даю&nbsp;согласие на&nbsp;обработку персональных данных
