.section-about
	._body._container
		h2._title.t-h1.el-item О&nbsp;компании
		._content 
			.about-content._column 
				._text.t-text
					p.its-el Главное направление работы нашей компании&nbsp;— профессиональное управление недвижимостью по&nbsp;схеме доверительного сотрудничества, при&nbsp;котором все&nbsp;функции делегируются нашим сотрудникам, но&nbsp;принятие основных стратегических решений и&nbsp;единый контроль объекта остаётся в&nbsp;руках владельца.
					p.its-el Общая площадь объектов недвижимости в&nbsp;управлении компании составляет более 100&nbsp;000&nbsp;кв.&nbsp;м, расположенных преимущественно в&nbsp;Обнинске и&nbsp;городах Московской области. Это&nbsp;офисные, торговые, производственные и&nbsp;складские площади, оснащённых всеми необходимыми коммуникациями и&nbsp;обладающих развитой инфраструктурой.
					p.its-el Сотрудничество с&nbsp;нами освобождает собственнику массу времени и&nbsp;избавляет от&nbsp;многочисленных хлопот. Мы&nbsp;помогаем оптимизировать расходы, повысить доходность объекта и&nbsp;продумать его&nbsp;долгосрочное развитие. При&nbsp;этом владелец недвижимости продолжает принимать важные стратегические решения и&nbsp;осуществляет общий контроль. 
			._column 
				._image._img 
					+picture('@@webRoot/img/pic/map.png', 'image')  
			._column 
				.t-h2 Москва, Калужская область 