.section-perform
	._image._ibg 
		img(src="@@webRoot/img/pic/img-06.png" alt="inage")
		._image-fon
	._body._container
		._content   
			h1._title.t-h1 Управление коммерческой недвижимостью
			._text.t-text 
				p Более 6&nbsp;лет&nbsp;мы&nbsp;выступаем от&nbsp;лица Собственников объектов коммерческой недвижимости в&nbsp;Обнинске, отвечая за&nbsp;повышение доходности, продвижение и&nbsp;качественную эксплуатацию
			._button 
				a(href="#order").button.t-h2.anchor-link 
					span Оставить заявку