.section-info._container 
	._body
		h2._title.t-h1 Что&nbsp;вы&nbsp;получите, выбрав сотрудничество с&nbsp;нашей компанией?
		._content 
			.info-content._column 
				._item
					h2._title.t-h2 Анализ эффективности деятельности 
					._text.t-text
						p Наша цель&nbsp;— обеспечить владельцев недвижимости достоверной информацией, которая поможет в&nbsp;принятии обоснованных и&nbsp;стратегически верных решений.
				._item
					h2._title.t-h2 Комплексное управление 
					._text.t-text
						p Мы&nbsp;берём на&nbsp;себя все&nbsp;аспекты хозяйственного ведения и&nbsp;арендных договоров, включая организацию работы офиса управляющего, а&nbsp;также планирование бюджета и&nbsp;стратегии маркетинга. Ваша бухгалтерия и&nbsp;финансовый менеджмент будут в&nbsp;надёжных руках.
				._item
					h2._title.t-h2 Брокеридж 
					._text.t-text
						p Мы&nbsp;обеспечим вас&nbsp;всесторонней юридической поддержкой при&nbsp;заключении предварительных договоров аренды, будь то&nbsp;краткосрочные или&nbsp;долгосрочные контракты. Наша команда гарантирует фиксацию арендной платы и&nbsp;успешную регистрацию всех необходимых договоров.
				._item
					h2._title.t-h2 Эксплуатация
					._text.t-text 
						p Наши специалисты займутся приёмом инженерных систем и&nbsp;оборудования, гарантируя их&nbsp;бесперебойную работу. Мы&nbsp;координируем и&nbsp;организуем специализированные сервисы для&nbsp;вашего объекта недвижимости.
				._item
					h2._title.t-h2 Стратегическое развитие объекта
					._text.t-text 
						p Мы&nbsp;содействуем нашим клиентам в&nbsp;формировании и&nbsp;внедрении долгосрочных планов по&nbsp;развитию их&nbsp;объектов, принимая во&nbsp;внимание социально-экономические тренды и&nbsp;инновации в&nbsp;управлении.
				._item
					h2._title.t-h2 Клининг 
					._text.t-text
						p Предоставляем полный комплекс услуг по&nbsp;уборке, как&nbsp;помещений, так&nbsp;и&nbsp;прилегающей территории для&nbsp;наших корпоративных клиентов, поддерживая наивысшие стандарты чистоты и&nbsp;качества.
			._column 
				._image._img 
					img(src="@@webRoot/img/pic/img-02.png" alt="image")