.section-prices 
	._body._container
		hgroup._hgroup 
			h2._title.t-h1.el-item  Стоимость услуг
			p.its-el Мы не просто <b>управляем недвижимостью&nbsp;—</b> мы&nbsp;<b>максимизируем ее&nbsp;доходность</b> и&nbsp;<b>минимизируем риски</b> собственника!
		._content 
			._column.its-col
				h3._item-title.t-h3 
					span Управление арендаторами 
					+iconfont('management', '_icon')
				._lable - поиск и введение арендадров - 
				._item  
					ul._list.t-text  
						li ✔ проведение анализа рынка  недвижимости и арендных ставок;
						li ✔ представление отчетов по актуальным ставкам аренды;
						li ✔ анализ ликвидности объекта и анализ наиболее эффективного его использования;
						li ✔ формирование концепции объекта;
						li ✔ определение круга потенциальных арендаторов;
						li ✔ разработка рекламной (маркетинговой) стратегии;
						li ✔ формирование базы потенциальных арендаторов;
						li ✔ активный поиск арендаторов;
						li ✔ осуществление показов и проведение переговоров;
						li ✔ составление договора аренды на условиях максимально выгодных для владельца объекта;
						li ✔ контроль за исполнение договоров;
						li.line-through ✔ бухгалтерские и юридические вопросы;
						li.line-through ✔ инженерное сопровождение;
						li.line-through ✔ контроль за подрядчиками;
						li.line-through ✔ клининг объекта;
						li.line-through ✔ охрана объекта; 
				._footer
					._lable Минимальная плата от 20 000 руб.
					._text
						._col-text.t-h3  7% от МАП
						._col-text.t-h3  от 10% от МАП
				._button
					button(type="button").button.t-h2 
						span Заказать
						span.grad-blink
			._column.its-col
				h3._item-title.t-h3  
					span Управление недвижимостью
					+iconfont('financial-system', '_icon')
				._lable - экспуатация объектов -
				._item 
					ul._list.t-text 
						li ✔ контроль договоров на эксплуатационные услуги на объект;
						li ✔ контроль за исполнение договоров;
						li ✔ бухгалтерские и юридические вопросы;
						li ✔ инженерное сопровождение, текущий ремонт;
						li ✔ контроль за подрядчиками;
						li ✔ клининг объекта;
						li.line-through ✔ проведение анализа рынка недвижимости и арендных ставок;
						li.line-through ✔ представление отчетов по актуальным ставкам аренды;
						li.line-through ✔ анализ ликвидности объекта и анализ наиболее эффективного его использования;
						li.line-through ✔ формирование концепции объекта;
						li.line-through ✔ определение круга потенциальных арендаторов;
						li.line-through ✔ разработка рекламной (маркетинговой) стратегии;
						li.line-through ✔ формирование базы потенциальных арендаторов;
						li.line-through ✔ активный поиск арендаторов;
						li.line-through ✔ осуществление показов и проведение переговоров;
						li.line-through ✔ охрана объекта; 
				._footer
					._lable Минимальная плата от 50 000 руб.
					._text  
						._col-text.t-h3  8% от ФОТ
						._col-text.t-h3  от 12% от ФОТ
				._button
					button(type="button").button.t-h2 
						span Заказать
						span.grad-blink
			._column.its-col
				h3._item-title.t-h3  
					span Доверительное управление
					+iconfont('hand-shake', '_icon')
				._lable - 100% гаранитя дохода -
				._item 
					ul._list.t-text 
						li ✔ проведение анализа рынка недвижимости и арендных ставок;
						li ✔ представление отчетов по актуальным ставкам аренды;
						li ✔ анализ ликвидности объекта и анализ наиболее эффективного его использования;
						li ✔ формирование концепции объекта;
						li ✔ определение круга потенциальных арендаторов;
						li ✔ разработка рекламной (маркетинговой) стратегии;
						li ✔ формирование базы потенциальных арендаторов;
						li ✔ активный поиск арендаторов;
						li ✔ осуществление показов и проведение переговоров;
						li ✔ составление договора аренды на условиях максимально выгодных для владельца объекта;
						li ✔ контроль за исполнение договоров;
						li ✔ бухгалтерские и юридические вопросы;
						li ✔ инженерное сопровождение;
						li ✔ контроль за подрядчиками;
						li ✔ клининг объекта;
						li ✔ охрана объекта; 
				._footer
					._lable Минимальная плата 0-00 руб.
					._text
						._col-text.t-h3  10% от прибыли
						._col-text.t-h3  от 15% от пр.
				._button
					button(type="button").button.t-h2
						span Заказать
						span.grad-blink

