.section-brands
	._container
		h2._title.t-h1.el-item Нам доверяют
		.brand-slide 
			._body.slide-swiper._swiper
				._slide-column 
					span 
						img(src="@@webRoot/img/brands/1.png" alt="Горлица")
				._slide-column 
					span 
						img(src="@@webRoot/img/brands/2.png" alt="СберБанк") 
				._slide-column 
					span
						img(src="@@webRoot/img/brands/4.png" alt="ЛукаС") 
				._slide-column 
					span
						img(src="@@webRoot/img/brands/5.png" alt="ЛукаС") 
				._slide-column 
					span
						img(src="@@webRoot/img/brands/6.png" alt="ЛукаС") 
				._slide-column 
					span
						img(src="@@webRoot/img/brands/7.png" alt="ЛукаС") 