extends ../layouts/app_layout
append link
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/index.min.css")
prepend script
	script(defer src="@@webRoot/js/vendors/runtime.min.js")
	script(defer src="@@webRoot/js/vendors/swiper-bundle.min.js") 
	script(defer src="@@webRoot/js/vendors/anime-vendors.min.js") 
block title
	- var text='Home'

block main-content 
	section.main-content__section#home
		include ../sections/section-perform
	section.main-content__section#about 
		include ../sections/section-about
	section.main-content__section#services
		include ../sections/section-services
	section.main-content__section
		include ../sections/section-prices
	section.main-content__section.its-block._bg-color#order
		include ../sections/section-order
	section.main-content__section 
		include ../sections/section-partners
	section.main-content__section.its-block
		include ../sections/section-ordercall 
	section.main-content__section
		include ../sections/section-info
	section.main-content__section.its-block._bg-color
		include ../sections/section-consultation
	section.main-content__section  
		include ../sections/section-survey
	section.main-content__section 
		include ../sections/section-brands 
	section.main-content__section 
		include ../sections/running-line
	section.main-content__section 
		include ../sections/section-map


