@use '../core/all' as *;

.page {
  // .page__menu-list
  &__menu-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 18;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }

  // .page__header
  &__header {
    position: fixed;
    z-index: 17;
    top: 0;
    left: 0;
    width: 100%;
    background: #243444;
  }

  // .page__main-content
  &__main-content {
    position: relative;
    z-index: 8;
    width: 100%;
    height: 100%;
    inset: 0;
  }
}

._bg-color {
  background: $font-color-title;
  margin: 6rem 0;

  @include screen-490 {
    margin: 16px 0;
  }
}

.main-content {
  // .main-content__section
  &__section {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  // .main-content__footer
  &__footer {
  }
}

@keyframes fadeInBackground {
  0% {
    background: rgb(28, 21, 63);
  }

  100% {
    background: $font-color-title;
  }
}

/* Анимация открытия */
@keyframes expand-height {
  0% {
    width: 0;
    height: 2px; /* Тонкая полоска */
    transform: translate(-50%, -50%) scaleX(0); /* Сжатие по ширине */
  }
  50% {
    width: 100%; /* Полоса расширяется по ширине */
    height: 2px; /* Пока остаётся тонкой */
    transform: translate(-50%, -50%) scaleX(1); /* Расширение по ширине */
  }
  100% {
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    transform: translate(-50%, -50%) scaleX(1); /* Завершение */
  }
}

/* Анимация закрытия */
@keyframes collapse-width {
  0% {
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    transform: translate(-50%, -50%) scaleX(1); /* Полное состояние */
  }
  50% {
    width: 100%; /* Полоса остаётся широкой */
    height: 2px; /* Высота уменьшается до тонкой линии */
    transform: translate(-50%, -50%) scaleX(1); /* Ширина сохраняется */
  }
  100% {
    width: 0; /* Полоса исчезает по ширине */
    height: 2px; /* Тонкая полоска */
    transform: translate(-50%, -50%) scaleX(0); /* Сжатие по ширине */
  }
}
