nav.sidebar-menu
  ._body
    ._content
      ._menu
        ._menu-header.bp-6
        ._menu-content.bp-7 
        ._menu-footer
          .network
            ._network-links 
              a(href="https://t.me/" target="_blank")._icon-link
                +iconfont('telegram-fly', '_icon')
              a(href="https://wa.me/" target="_blank")._icon-link
                +iconfont('whatsapp', '_icon')
              a(href="https://wa.me/" target="_blank")._icon-link
                +iconfont('vk-brand', '_icon')