.footer._container#contacts
	._body 
		._header
			h2._title.t-h1.el-item Контакты 
			._network 
				.network
					._network-links 
						a(href="https://t.me/" target="_blank" aria-label="Телеграм")._icon-link
							+iconfont('telegram-fly', '_icon')
						a(href="https://wa.me/" target="_blank" aria-label="WhatsApp")._icon-link
							+iconfont('whatsapp', '_icon')
						a(href="https://vk/" target="_blank" aria-label="Контакт")._icon-link
							+iconfont('vk-brand', '_icon')
		._content 
			._column
				.contacts._contacts
					._column 
						._line
							._item._name 
								._title.t-h3 Сайт&nbsp;управляющего&nbsp;недвижимости ООО"Центр&nbsp;развития&nbsp;инвестиций"
					._column 
						._line
							._item
								._title.t-h2 Почтовый адрес
								._text.t-text 249034,&nbsp;Россия,&nbsp;Калужская обл.,&nbsp;г.&nbsp;Обнинск,&nbsp;пр&#8209;кт&nbsp;Ленина&nbsp;121, оф.&nbsp;311, п/я&nbsp;№&nbsp;3
					._column 
						._line
							._item
								._title.t-h2 Телефон / Факс
									._text.t-text 8&nbsp;(800)&nbsp;234&#8209;55&#8209;44
									._text.t-text 8&nbsp;(980)&nbsp;510&#8209;41&#8209;96
								._text.t-text 
								._title.t-h2 Email 
								._text.t-text 
									a(href="mailto:info@crnii.ru") info@crnii.ru
	._footer 
		._icon
			img(src="@@webRoot/img/icons/sd.png" alt="иконка")
		span Сайт разработан 
		a(href="https://sadovskiy.art/") Sadovskiy Design