.footer._container#contacts
	._body 
		h2._title.t-h1 Контакты 
		._content 
			._column
				.contacts._contacts
					._item._address  
						._title.t-h2 Адрес
						._text.t-text Адрес: г. Обнинск, пр. Ленина 122
					._item._phone
						._title.t-h2 Телефон
						._text.t-text (916) 345 57 98
					._item._male
						._title.t-h2 Email 
						._text.t-text pochta@gmail.com
					._item._network
						._title.t-h2 Соцсети
						._text.t-text 
							span Git-Hub
							span Telegram
							span WhatsApp
			._column
				._image-01._img
					img(src="@@webRoot/img/map-01.png" alt="image")
				._image-02._img
					img(src="@@webRoot/img/map-02.png" alt="image")