.header
	._container
		._content
			._column.el-logo
				._logo-wrpper 
					a(href="#home" title="home" )._logo.anchor-link
						img(src="@@webRoot/img/logo.jpg" alt="Logo") 
					._text(data-da="bp-6" data-da-position="0" data-da-resolution="768") 
						span Управление коммерческой недвижимостью
			._column 
				._menu(data-da="bp-7" data-da-position="0" data-da-resolution="768") 
					ul._menu-items
						li._item
							a(href="#about")._link-key.anchor-link.link_underline
								span Компания 
						li._item
							a(href="#services")._link-key.anchor-link.link_underline
								span Услуги
						li._item
							a(href="#project")._link-key.anchor-link.link_underline
								span Проекты 
						li._item
							a(href="#contacts")._link-key.anchor-link.link_underline
								span Контакты
			._column 
				._phone
					._phone-item
						a(href="tel:8 (800) 234-55-44") 
							span 8 (800) 234-55-44
					._phone-item
						a(href="tel:8 (980) 510-41-96") 
							span 8 (980) 510-41-96


				//- a.el-community__contact(href="mailto:awdes@yandex.ru?subject=🤝%20Информация%20о%20проекте.%20Давайте%20поговорим.")
					+iconfont('contacts', '_icon')
					.el-community__content
						span.el-community__title Скажи привет! 
				._burger-button
					include ../assets/burger-button
