@use '../core/all' as *;

.section-partners {
  // .section-partners__body
  &__body {
    padding: 6rem 0;

    @include screen-490 {
      padding: 16px 0;
    }
  }
}

.partners-list {
  // .partners-list__title
  &__title {
    font-family: $font-family-title;
    color: $font-color-title;
    line-height: 110%;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  // .partners-list__content
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    @include screen-1800 {
      grid-template-columns: repeat(2, 1fr);
    }

    @include screen-960 {
      flex-direction: column;
      gap: 2rem;
    }
  }

  // .partners-list__title-text
  &__title-text {
    white-space: nowrap;
    font-family: $font-family-title;
    color: $font-color-title;
    line-height: 110%;
    letter-spacing: 1.4px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 1rem;

    @include screen-490 {
      margin-bottom: 8px;
    }
  }

  // .partners-list__row
  &__column {
    padding: 5px 0px 18px 0px;
    border-bottom: 1px solid rgba(36, 52, 68, 0.301);

    @include screen-490 {
      flex-direction: column;
      padding-bottom: 8px;
    }
  }

  // .partners-list__text
  &__text {
    flex: 0 1 100%;
    line-height: 130%;
  }

  &__title-text,
  &__text {
    @include screen-490 {
      flex: 0;
    }
  }
}

// (data-da="bp-4" data-da-position="1" data-da-resolution="768")
