.section-map {
  // .section-map__body

  &__body {
  }

  // .section-map__content

  &__content {
    // display: flex;
  }

  // .section-map__column

  &__column {
    // flex: 0 1 max-content;
    // display: flex;
    // justify-content: center;
    margin: 0 -2rem;
  }

  // .section-map__image-01

  &__image {
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
